<a href="https://colab.research.google.com/github/joao-pedro-silva/Curso-Machine-Learning-Classificacao-por-tras-dos-panos/blob/main/03_Classificacao_de_variaveis_categoricas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv 

def carregar_buscas():

  X = []
  Y = []

  arquivo = open('busca.csv', 'rt')
  leitor = csv.reader(arquivo)

  next(leitor)

  for home, busca, logado, comprou in leitor:
    dados = [int(home), str(busca), int(logado)]
    X.append(dados)
    Y.append(int(comprou))

  return X,Y

In [2]:
X, Y = carregar_buscas()

In [3]:
import pandas as pd

df = pd.read_csv('busca.csv')

In [4]:
df

     home       busca  logado  comprou
0       0  algoritmos       1        1
1       0        java       0        1
2       1  algoritmos       0        1
3       1        ruby       1        0
4       1        ruby       0        1
..    ...         ...     ...      ...
995     0        ruby       0        0
996     0        ruby       0        1
997     0        java       1        1
998     1  algoritmos       0        1
999     0        ruby       1        0

[1000 rows x 4 columns]

In [5]:
X_df = df[['home', 'busca', 'logado']]
Y_df = df['comprou']

In [6]:
Xdummies_df = pd.get_dummies(X_df) #from categorical variable to binary
Ydummies_df = Y_df

In [7]:
X = Xdummies_df.values
Y = Ydummies_df.values

In [8]:
X

array([[0, 1, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0],
       ...,
       [0, 1, 0, 1, 0],
       [1, 0, 1, 0, 0],
       [0, 1, 0, 0, 1]])

In [9]:
porcentagem_de_treino = 0.9

tamanho_de_treino = int(porcentagem_de_treino * len(Y))

treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

tamanho_de_teste = int(len(Y) - tamanho_de_treino)

teste_dados = X[-tamanho_de_teste:]
teste_marcacoes = Y[-tamanho_de_teste:]

In [10]:
from sklearn.naive_bayes import MultinomialNB

modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [11]:
resultado = modelo.predict(teste_dados)
diferencas = resultado - teste_marcacoes

In [12]:
acertos = [d for d in diferencas if d==0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_marcacoes)
taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(total_de_elementos)
print(taxa_de_acerto)

100
82.0